:root {
  --primary300: #f1d900;
  --primary500: #eec72d;
  --primary700: #eda722;

  --grey_light: #eceff1;
  --grey50: #eceff1;
  --grey100: #cfd8dc;
  --grey600: #546e7a;
  --grey900: #263238;
}

* {
  box-sizing: border-box;
  border-style: none;

  font-family: "Montserrat", sans-serif;

  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

#cta {
  padding: 1rem 2rem;
  background-color: var(--primary500);
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 30px;
  text-decoration: none;
  color: black;
  border-radius: 3px;
  margin-top: 50px;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 8px 24px 0px rgb(0, 0, 0, 0.2);
  box-shadow: 8px 8px 24px 0px rgb(0, 0, 0, 0.2);
}

#cta:hover {
  background-color: var(--primary700);
  color: black;
  transition: 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
  background-image: url("/images/overbridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* background-color: var(--grey600); */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: #f2f2f2; */
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  background: transparent;
}

nav {
  position: fixed;
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 400;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  /* background-color: brown; */
  z-index: 500;
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    top: 0px;
  }

  .nav__container {
    width: 90%;

    /* top: 0px; */
    /* background-color: brown; */
  }
}

.nav__logo__box {
  display: flex;
  z-index: 600;
  width: 200px;
  height: 100%;
}

.nav__links {
  display: flex;
  color: var(--primary300);
  list-style-type: none;
}

.nav__links a {
  color: var(--grey100);
  text-decoration: none;
  margin: 0 1rem;
}
.nav__links a:hover {
  color: var(--primary300);
  transition: 0.5s;
}

.nav__objects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon__burger {
  background-image: url("/images/burger-yellow.svg");
  width: 20px;
  height: 20px;
  display: none;
  /* background-color: chartreuse; */
}

.icon__close {
  background-image: url("/images/close-yellow.svg");
  width: 20px;
  height: 20px;
  display: none;

  /* background-color: chartreuse; */
}

.mobile__menu {
  /* display: none; */
  position: fixed;
  width: 50%;
  height: 100vh;

  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mobile__menu__objects {
  padding-top: 3rem;
}

.mobile__menu__links a {
  text-decoration: none;
  color: var(--primary300);
  text-align: center;
}

.mobile__menu__links li {
  margin: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .nav__links {
    display: none;
  }

  .icon__burger {
    display: block;
  }
  .icon__close {
    display: block;
  }

  .mobile__menu {
    display: block;
    padding: 4rem 0;
    position: fixed;
    background-color: black;
    z-index: 200;

    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }
}

.mobile__menu--hidden {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
  /* display: none; */
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 40px;
  position: relative;
}

p {
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

span {
  display: block;
}

span:after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #f2f2f2; */
  z-index: 1;
  transform-origin: 100% 0;
}

/* button {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(224, 224, 224, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(224, 224, 224, 1);
  box-shadow: 8px 8px 24px 0px rgba(224, 224, 224, 1);
} */

.rightBox {
  width: 100%;
  height: 50vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/Digitakt_Above_background_crop.jpg");
  /* background-color: rgb(207, 207, 207); */
}

.special {
  position: relative;
  left: -100px;
  top: 100px;
  z-index: 100;
}

.leftBox {
  /* background-color: #dadada; */
  /* background-color: #f2f2f2; */
  width: 80%;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  main {
    height: 100%;
    /* margin-bottom: 10rem; */
  }

  .container {
    grid-template-columns: 1fr;
    margin-top: 10rem;
  }

  .rightBox {
    margin: 4rem 0;
  }
}

/* sekcja 1 */

#sekcja1 {
  width: 100%;
  height: 100vh;
  /* background-color: #7bd87b; */
  overflow: hidden;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: black;
}

.grid1__left {
  background-color: black;
  height: 100vh;
  width: 100%;
  background-image: url("/images/Digitakt_Recorder.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  /* position: relative; */
  overflow: hidden;
}
.grid1__right {
  background-color: black;
  height: 100vh;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.grid1__right__box {
  width: 60%;
  /* background-color: brown; */
  z-index: 100;
  margin-bottom: 6rem;
}

.grid1__right h1 {
  color: var(--primary300);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;

  /* position: relative; */
}

.grid1__right h2 {
  color: var(--grey_light);
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;
}

.grid1__right p {
  color: var(--grey_light);
}

@media screen and (max-width: 740px) {
  #sekcja1 {
    height: auto;
  }

  .grid1 {
    grid-template-columns: 1fr;
  }

  .grid1__left {
    height: 50vh;
  }

  .grid1__right {
    height: auto;
    /* height: 50vh; */
    padding: 4rem 0;
  }

  .grid1__right__box {
    width: 80%;
    /* background-color: brown; */
    z-index: 100;
    margin-bottom: 0;
  }
}

/* sekcja 2 */

#sekcja2 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid2__left {
  background-color: black;
  height: 100vh;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid2__right {
  background-color: black;
  height: 100vh;
  width: 100%;
  background-image: url("/images/Digitakt_Sequencer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.grid2__left__box {
  width: 60%;
  /* background-color: brown; */
  margin-bottom: 6rem;
}

.grid2__left h1 {
  color: var(--primary300);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;

  /* position: relative; */
}

.grid2__left h2 {
  color: var(--grey_light);
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;
}

.grid2__left p {
  color: var(--grey_light);
}

@media screen and (max-width: 740px) {
  #sekcja2 {
    height: auto;
  }

  .grid2 {
    grid-template-columns: 1fr;
  }

  .grid2__right {
    height: 50vh;
  }

  .grid2__left__box {
    width: 80%;
    /* background-color: brown; */
    z-index: 100;
    margin-bottom: 0;
  }

  .grid2__left {
    /* height: 50vh; */
    overflow: hidden;
    height: auto;
    padding: 4rem 0;
  }
}

/* sekcja 3 */

#sekcja3 {
  width: 100%;
  height: 100vh;
  /* background-image: url("/images/overbridge.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  overflow-x: hidden;
}

.mask {
  opacity: 0.9;
  position: relative;
  height: 100%;
  background-color: var(--grey900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.mask__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  padding-bottom: 12rem;
}

.mask__title__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.mask__title__box h1 {
  color: var(--primary300);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.mask__title__box h2 {
  color: var(--grey_light);
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.mask__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  width: 100%;
  margin-top: 4rem;
  /* background-color: brown; */
}

@media screen and (max-width: 900px) {
  .mask {
    height: auto;
    padding: 6rem 0;
  }

  .mask__cards {
    grid-template-columns: 1fr;
  }

  #sekcja3 {
    height: auto;
    /* padding: 6rem 0; */
  }

  .mask__container {
    padding-bottom: 2rem;
    height: auto;
  }
}

.mask__cards__card {
  /* background-color: var(--grey_light); */
  /* background-color: var(--primary700); */

  opacity: 1;
  display: flex;
  flex-direction: column;
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 3rem;
}

.card__header__icon {
  height: 60px;
  width: 60px;
  margin-right: 2rem;
  /* background-color: var(--primary700); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__header h3 {
  color: var(--primary300);
  /* margin-bottom: 2rem; */
}

.card__content p {
  color: var(--grey_light);
}

/* sekcja 4 */

#sekcja4 {
  width: 100%;
  height: 100vh;
  background-color: var(--grey100);
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid4__left {
  /* background-color: grey; */
  height: 100vh;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid4__left__box {
  width: 60%;
  margin-bottom: 10rem;
  /* background-color: brown; */
}

.grid4__left h1 {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;

  /* position: relative; */
}

.grid4__left h2 {
  color: black;
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;
}

.grid4__left p {
  color: black;
}

.grid4__right {
  /* background-color: rgb(163, 163, 163); */
  height: 100vh;
  width: 100%;
}

.grid4__right__image {
  background-image: url("/images/Digitakt_IO_1920x1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 400px;
  width: 70%;
  position: relative;
  top: 80px;
  left: 100px;
}
.grid4__right__image2 {
  background-image: url("/images/Digitakt_Modulation_FX_1920x1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 300px;
  width: 50%;
  position: relative;
  top: 5%;
  left: 60px;
}

.shadow {
  -webkit-box-shadow: 8px 8px 43px 0px rgba(38, 50, 56, 0.4);
  -moz-box-shadow: 8px 8px 43px 0px rgba(38, 50, 56, 0.4);
  box-shadow: 8px 8px 43px 0px rgba(38, 50, 56, 0.4);
}

@media screen and (max-width: 840px) {
  .grid4 {
    grid-template-columns: 1fr;
  }

  .grid4__left {
    height: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .grid4__left__box {
    width: 80%;
    margin-bottom: 0;
    /* background-color: brown; */
  }

  #sekcja4 {
    height: auto;
    overflow-x: hidden;
  }

  .grid4__right {
    height: auto;
    padding-top: 0;
    padding-bottom: 4rem;
  }

  .grid4__right__image2 {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .grid4__left__box {
    width: 80%;
  }
}

/* sekcja 5 */

#sekcja5 {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid5__left {
  /* background-color: grey; */
  height: 100vh;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid5__left__box {
  width: 60%;
  /* background-color: brown; */
}

.grid5__left h1 {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;

  /* position: relative; */
}

.grid5__left h2 {
  color: black;
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;
}

.grid5__left p {
  color: black;
}

.grid5__left ul {
  padding-left: 1rem;
}

.grid5__left li {
  margin-bottom: 0.7rem;
  font-family: "Open Sans", sans-serif;
}

.grid5__left__box__image {
  background-image: url("/images/Digitakt-angled-accessories.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin-top: 4rem;
}

.grid5__right {
  /* background-color: rgb(163, 163, 163); */
  height: 100vh;
  width: 100%;
  background-color: var(--grey50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid5__right h2 {
  color: black;
  font-weight: 500;

  margin-bottom: 30px;
}

.grid5__right p {
  color: black;
}

.grid5__right__formBox {
  width: 80%;
  height: 600px;
  background-color: var(--grey100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid5__right__formBox__icon {
  height: 60px;
  width: 60px;
  /* background-color: var(--grey600); */
}

.grid5__right__formBox__description {
  width: 80%;
  text-align: center;
  margin: 2rem 0;
}

.newsletter {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.newsletter input {
  padding: 0.9rem 1rem;
  margin: 0.8rem 0;
  border: 1px solid var(--grey300);
  border-radius: 3px;
  width: 100%;
}

.newsletter button {
  padding: 0.9rem 1rem;
  margin: 1rem 0;
  border: 1px solid var(--grey300);
  border-radius: 3px;
  background-color: var(--primary700);
  color: black;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  width: auto;
}

@media screen and (max-width: 1000px) {
  #sekcja5 {
    height: auto;
  }

  .grid5 {
    grid-template-columns: 1fr;
  }

  .grid5__right {
    height: auto;
    padding: 4rem 0rem;
  }
}

@media screen and (max-width: 600px) {
  .grid5__left {
    padding-top: 4rem;
  }

  .grid5__left__box {
    width: 80%;
  }

  .grid5__right__formBox {
    width: 90%;
  }
}

/* footer */

footer {
  height: auto;
  width: 100%;
  background-color: var(--grey900);
}

/* .footer__container {
  grid-template-columns: 1fr 3fr;
  display: grid;
  width: 80%;
  height: 400px;

  margin: 4rem auto;
} */

.footer__container {
  display: flex;
  flex: row;
  justify-content: space-between;
  width: 80%;
  /* height: 400px; */

  margin: 8rem auto;
}

.footer__container__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 400px;
  /* background-color: aqua; */
}

.footer__container__left {
  color: var(--grey100);
}

.footer__container__left__logoBox {
  width: 70%;
  height: auto;
  margin-bottom: 2rem;
}

.footer__container__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.footer__container__right__box {
  height: auto;
}

.footer__container__right__box h2 {
  color: var(--primary500);
  font-weight: 400;

  margin-bottom: 30px;
}

.footer__container__right__box p {
  color: black;
}

.footer__container__right__box ul {
  padding-left: 1rem;
  list-style: none;
}

.footer__container__right__box li {
  margin-bottom: 0.7rem;
  font-family: "Open Sans", sans-serif;
  color: var(--grey100);
  margin-left: -1rem;
}

/* @media screen and (max-width: 1200px) {
  .footer__container__right {
    gap: 2rem;
  }
} */

@media screen and (max-width: 1200px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer__container__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  /* .footer__container {
    display: grid;
    grid-template-columns: 1fr;
  } */

  .footer__container__right {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 4rem;
    gap: 2rem;
  }
}

/* sekcja special */

.sekcjaSpecial {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sekcjaSpecial:nth-child(2n) {
  background-color: #e9e9e9;
}

.textAnim {
  width: 50%;
}

/* #sekcja-text {
  width: 100%;
  height: 100vh;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sekcja-text-2 {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sekcja-text-3 {
  width: 100%;
  height: 100vh;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.text-container {
  width: 50%;
  text-align: center;
}
.text-container-2 {
  width: 50%;
  text-align: center;
}
.text-container-3 {
  width: 50%;
  text-align: center;
}

/* #sekcja2 {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* #sekcja3 {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.square {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: var(--primary500);
}
.square2 {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: var(--primary500);
}
